*{
  margin: 0;
  padding: 0;
}

html,body{
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}

.loading{
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.loading span{
  font-size: 100px;
  color:#333 
}

.button.primary{
  background-color: #f0c040;
  color:#333;
}

body{
  font-size: 1.1rem;
  font-family: helvetica;
  height: 100%;
  width: 100%;
 
}

a,a:hover{
  text-decoration: none;
}

a:hover{
  color: #ff8000;
}

/*--header--*/


#header{
  background-color: #203040;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px 0px;
  padding-left: 15px;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0;
}

.brand {
  color: #fff;
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

.header-right{
  padding-right: 30px;
}

.header-right a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-right:9px

}


.header-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle {
  display: flex;
  align-items: center;
  width: 28px;
  height: 30px;
  margin: 0px 10px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #ffff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}


.main{
  height: 100%;
  margin-top: 90px;
}


/* --menu-sidbare--*/
.menu-sidbare{
  position: fixed;
  top: 70px;
  width: 25rem;
  padding: 10px 15px;
  height:100%;
  background-color: #dedede;
  transform: translateX(-27rem);
  transition: .5s;
}

.menu-sidbare.menu-sidbareActive{
 
  transform: translateX(0px);
}

.menu-sidbare .header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-sidbare .header-nav h3{
  
}

.button-close{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  width: 30px;
  margin-top: 5px;
  height: 30px;
  border:1px solid #203040;
  color: #203040;
  border-radius: 100px;
  
}

.activeSidebar{
  
}

/*--content--*/

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 .products{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 34rem;
  margin:1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.product-image{
  max-width: 34rem;
  max-height: 34rem;
}

.product-name{
  font-size: 2rem;
  margin-top: 18px;
  font-weight: 700;;
}

.product-brand{
  font-size: 1.2rem;
  color: #808080;
  margin-bottom: 6px;
}

.product-price{
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  background-color: #808080;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 6px;
}

.header-right a:hover{
  color: #ff8000;
}

.product-review{
  margin-bottom: 1rem;
}



#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px 0px;
  background-color: #203040;
  font-size: 18px;
  color: white;
  height: 60px;
}

/*--detail--product--*/
.details-pro{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 70px;
  padding:1rem
}
.pro-image{
  flex: 4
}

.pro-image img{
  width: 100%;
  max-width: 60%;
}

.details-info,.details-action{
  flex:2;
}

.details-action p{
  padding-bottom: 9px;
}
.details-info h4{
  padding-bottom: 20px;
}

.details-info span,.details-info p{
  display: block;
  padding-bottom: 9px;
}

.details-action{
  border:.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.pro-price{
  display: block;
}

.details-action p,.details-action span{
  font-weight: bold;
  font-size: 16px;
}

.group-qty{
  display: flex;
 
}

.group-qty span{
  margin-right: 9px;
}

.action-qty{
  padding: .1rem;
  display: block;
  margin-bottom: 12px;
}

.back-to-result{
  display: flex;
  flex-direction: column;
}

.button{
  padding: 1rem;
  border:.1rem #808080 solid;
  width: 100%;
  cursor: pointer;
  border-radius: .5rem;
  font-weight: bold;
}

.button:hover{
  border:.1rem #404040 solid;
}

.button.primary{

}

/*--content--product--*/
.content-product{
  /* padding-top: 90px; */
  padding: 0px 15px;
}

/*--card--*/

.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
  justify-content: space-around;

}

.cart-list{
  flex:6;
  margin-right: 20px;
}

.cart-list .cart-title{
 
}


.cart-header{
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  padding-bottom: 9px;
  border-bottom:1px solid #dedede;
  margin-bottom: 12px;
}

.cart-action{
  flex:2;
  background-color: #f0f0f0;
  border:.1rem #808080 solid;
  border-radius: .5rem;
  padding:1rem;
  margin-top: 30px;
}

.cart-action h3{
  margin-bottom: 9px;
}

.cart-price{
  font-weight: 700;
  display: block;
}

.block-name-qty{
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  border-bottom:1px solid #dedede;
  margin-bottom: 1rem;
}

.item-img{
  max-width: 10rem;
  min-width: 10rem;
  flex: 1 1;
 
}

.item-price{
  flex: 8 1;
 
}
.item-name{
}

.item-price{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/*-- signin css --*/

.form-container{
  width: 32rem;
  margin: 20px auto;
  padding: 2rem;
  border-radius: .5rem;
  border:1px solid #c0c0c0;
}

.title-signin{
  text-align: center;
}

.error-message{
  color: #721c24;
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.error-message-register{
  color: #721c24;
  display: block;
  font-size: 18px;
  margin-top:6px
}

.text-new-signin{
  width: 100%;
  margin-top: 15px;
 text-align: center;
}

.button-create-acount{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-container .form-group label{
  display: block;
  margin-bottom: 5px;
}

.form-container .form-group .form-input{
  padding: 1rem;
  border:.1rem #c0c0c0 solid ;
  border-radius: .5rem;
}

.register-btn-acount{
  width: 350px;
}

.form-group-password{
  position: relative;
}

.check-password{
  position: absolute;
  right: 15px;
  top: 43px;
}

/*--css-sign-out--*/
.sign-out{
  display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 9px 18px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    margin-left: 18px;
}

.sign-out:hover{

  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;

}

.sign-out:active,.sign-out:active{
  background-color: #ec971f;
    border-color: #985f0d;
}

/*--page product css--*/
.conenu-product{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 85%;
  margin: 20px auto;
  flex-direction: column;
}

.header-product{
  display: flex;
  justify-content: flex-end;

  margin-bottom: 20px;
}

.button-add-product{
  width: 200px;
  font-size: 15px;
  text-transform: uppercase;
}


/* 
.MuiTableRow-root:hover td,.MuiTableRow-root:hover th{
  color:white!important
} */

.btn-cof-modal{
  margin-top: 9px;
}

.btn-cof-modal .MuiButtonBase-root:nth-child(1){
  margin-right: 12px;
}

.makeStyles-paper-4{
  border:none!important
}

.productEmpty{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0px auto;
}

.tata{
  /* border-style: none!important; */
}